.post {
    align-self: center;
    background-color: white;
    max-width: 500px;
    border: 1px solid lightgray;
    margin-bottom: 45px;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.avatar {
    margin-right: 10px;
}

.image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.text {
    font-weight: normal;
    padding: 20px;
}