@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

.post {
    align-self: center;
    background-color: white;
    max-width: 500px;
    border: 1px solid lightgray;
    margin-bottom: 45px;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.avatar {
    margin-right: 10px;
}

.image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.caption_and_delete {
    display: flex;
}

.text {
    flex: 1;
    font-weight: normal;
    padding: 10px;
}

.delete_button {
    flex: 0;
    margin-top: 10px;
    padding: 5px;
    border: none;
    border-top: 1px solid lightgray;
    background-color: lightgray;
}

.comment_box {
    display: flex;
    margin-top: 10px;
}

.comment_input {
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
}

.comment_button {
    flex: 0;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
    background-color: lightgray;
}

.comment_comments {
    padding: 20px;
}