.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.register {
    padding-bottom: 20px;
    font-size: 1.3rem;
}

.button {
    padding-top: 20px;
}